<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuarios</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
    }

    th{
      padding: 10px;
      text-align: left;
    }
    td{
      padding: 10px;
      text-align: left;
      font-weight: 250;
    }

    th {
      background-color: #f2f2f2;
    }
    .create{
      background-color: blue;
      color: #f2f2f2;
      padding: 10px;
      border: none;
      border-radius: 5px;
    }
    a{
      color: white;
      text-decoration: none;
    }
    .editar{
      background-color: green;
      color: #f2f2f2;
      outline: 2px solid transparent;
      transition: outline-color 0.3s

    }
    .eliminar{
      background-color: red;
      color: #f2f2f2;
      outline: 2px solid transparent;
      transition: outline-color 0.3s
    }
    .editar:hover{
      outline-color: green; 
    }
    .eliminar:hover{
      outline-color: red; 
    }

    .button{
      padding: 10px;
      border: none;
      border-radius: 5px;
    }


  </style>
</head>
<body>
  <button class="create">
    <a href="/register">Nuevo Usuario</a>
  </button>
  <h1>Hola mundo desde EJS Index </h1>
    <table>
      <thead>
        <th>Id</th>
        <th>Nombre de usuario</th>
        <th>rol_id</th>
        <th>rol</th>
        <th>Acciones</th>
      </thead>
      <% users.forEach(user => { %>
        <tbody> 
          <td><%= user.id %></td>
          <td><%= user.usuario %></td>
          <td><%= user.rol_id %></td>
          <td><%= user.role %></td>
          <td style="display: flex; gap: 50px; justify-content: center;">
            <a class="editar button" href="/edit/<%= user.id %>">Editar</a>
            <!-- <a class="eliminar button" onclick="return confirm('Estás seguro que desea elimnar?')"  href="/delete/<%= user.id %>">Eliminar</a> -->
            <a class="eliminar button" onclick="eliminarUsuario('<%= user.id %>')" >Eliminar</a>
          </td>
        </tbody>
      <% }); %>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function eliminarUsuario(id){
        Swal.fire({
          title: `Estás seguro que deseas elimianr el usuario ${id}?`,
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!"
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire({

              }
            );
            window.location.href = `/delete/${id}`;
          }
        });
      }
    </script>
</body>
</html>